<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Detalhe da Skin</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/assets/icon.png">
</head>

<body>
  <div class="container">
    <h2 id="skin-nome"></h2>
    <img id="skin-img" class="skin-img" src="" alt="">
    <div class="info" id="skin-info"></div>
    <canvas id="grafico"></canvas>
    <button class="voltar-btn" onclick="window.history.back()">Voltar</button>
    <button class="voltar-btn" id="attbutton">Atualizar</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/@supabase/supabase-js"></script>
  <script src="/static/js/detalhe.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2"></script>


</body>

</html>