<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Detalhe da Skin</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/assets/icon.png">
</head>

<body>
  <div class="main-content">

    <div class="container">
      <h2 id="skin-nome"></h2>
      <img id="skin-img" class="skin-img" src="" alt="">
      <div class="info" id="skin-info"></div>
      <canvas id="grafico"></canvas>
      <button class="voltar-btn" onclick="window.history.back()">Voltar</button>
      <button class="voltar-btn" id="btn-limpar-data">Limpar Data</button>
    </div>

    <div class="conteiner-aba">

      <!-- ABAS -->
      <div class="abas">
        <h2 id="aba-noticias" class="aba-btn active">Notícias Relacionadas</h2>
        <h2 id="aba-discuss" class="aba-btn aba-discuss">Discussões Relacionadas</h2>
      </div>

      <!-- CONTEÚDO NOTÍCIAS -->
      <div id="news-box" class="tab-content">
        <div id="news-list">
          <p>Carregando notícias...</p>
        </div>
      </div>

      <!-- CONTEÚDO DISCUSSÕES -->
      <div id="discussion-box" class="tab-content" style="display:none">
        <div id="discussion-list">
          <p>Carregando discussões...</p>
        </div>
      </div>

    </div>



  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/@supabase/supabase-js"></script>
  <script src="/static/js/detalhe.js" type="module"></script>

</body>

</html>